html, body, #root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
    color: inherit;
    background-color: inherit;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}